# This file is used to avoid pushing unwanted files to the GitHub respository #
# Any files containing the following regex will be excluded from Git commits #


# IntelliJ #
*.iml
.idea


# Python Compiled #
*.pyc
**/*pyc
**/**/*.pyc


# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties